#page-content {
    margin: 40px;
}

body {
    background: gray;
    
}



#profile-pic {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.custom-element {
  color: gray("100");
  background-color: theme-color("dark");
}

body {
    background-color: lightblue;
}